@{
    ViewData["Title"] = "";
}

<!--• 
• A custom icon next to the title on the web page (#notcoveredinthevideos)
• Navigation to the second page (#notcoveredinthevideos) -->

<div class="text-center">
    <h1 class="display-4">MARATHONING</h1>
    <p>Gain that comes through pain.</a></p>
    <br /><br />
    <p>A marathon. <br />What is it? The challenge of running 26.2 miles. <br />Who does it? 
        Only crazy people. <br />Why would anyone run one? Because us crazy people have a method to our madness.
    </p>
    <br />
    <img src="~/img/marathon1.jpg" />
    <br /><br />
    <p>Embarking on the daunting challenge of running a marathon is an endeavor that entails a unique blend of pain, craziness, 
        and profound satisfaction. The physical toll, from the pounding of feet on pavement to the relentless strain on muscles 
        and joints, is undeniably intense. Endurance athletes often experience a rollercoaster of emotions as they push through 
        the grueling miles, battling fatigue and the persistent inner voice urging them to stop. The sheer audacity of voluntarily 
        subjecting oneself to such discomfort may seem crazy to some, yet it is within this madness that a transformative journey 
        unfolds. The pain becomes a catalyst for personal growth, revealing the reservoirs of mental fortitude and resilience that 
        lie within.</p>
    <br /><br />
    <img src="~/img/marathon2.jpg" width="500"/>
    <br />
    <p>Just take in the look on this man's face.</p>
    <br />
    <p>Crossing the finish line is not just a celebration of physical achievement; it's an affirmation that the crazy
        pursuit of pushing one's limits is an avenue to discovering the profound sense of accomplishment and well-being
        that accompanies the endurance of such challenges.</p>
    <br />
    <p><b>Not to mention, you get to put a sticker on your car that says 26.2</b></p>
    <p>So get training today! I offer tutoring through CUSTOM training plans and marathoning tips. </p>
    <a href="@Url.Action("Tutoring")">Get Started</a>
</div>
